$bg-image: url(/assets/images/bg.png);
// *{
//     border:2px solid red;
// }

.main-panel{
    position: relative;
    width: 1024px;
    height: 768px;
    overflow:hidden;
    margin:0 auto;
}

.bg-image{
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.fan{
    position: absolute;
    width: 90px;
    height: 115px;
    top: 178px;
    left: 24px;
    background-image: url(/assets/images/jpg/fan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.avacado{
    position: absolute;
    width: 43px;
    height: 45px;
    top: 143px;
    left: 238px;
    background-image: url(/assets/images/jpg/fruit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.lock   {
    position: absolute;
    width: 46px;
    height: 59px;
    top: 272px;
    left: 743px;
    background-image: url(/assets/images/jpg/lock.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ash-tray   {
    position: absolute;
    width: 51px;
    height: 60px;
    top: 394px;
    left: 460px;
    background-image: url(/assets/images/jpg/ashTray.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.purse   {
    position: absolute;
    width: 65px;
    height: 60px;
    top: 330px;
    left: 345px;
    background-image: url(/assets/images/jpg/purse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.gun   {
    position: absolute;
    width: 65px;
    height: 60px;
    top: 362px;
    left: 190px;
    background-image: url(/assets/images/jpg/gun.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hat   {
    position: absolute;
    width: 65px;
    height: 54px;
    top: 297px;
    left: 380px;
    background-image: url(/assets/images/jpg/hat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.belt   {
    position: absolute;
    width: 100px;
    height: 60px;
    top: 293px;
    left: 831px;
    background-image: url(/assets/images/jpg/belt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bullet   {
    position: absolute;
    width: 46px;
    height: 40px;
    top: 370px;
    left: 833px;
    background-image: url(/assets/images/jpg/bullet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bag   {
    position: absolute;
    width: 98px;
    height: 127px;
    top: 441px;
    left: 682px;
    background-image: url(/assets/images/jpg/bag.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.candle   {
    position: absolute;
    width: 46px;
    height: 56px;
    top: 364px;
    left: 942px;
    background-image: url(/assets/images/jpg/candle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.telescope   {
    position: absolute;
    width: 51px;
    height: 60px;
    top: 473px;
    left: 400px;
    background-image: url(/assets/images/jpg/telescope.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.telephone   {
    position: absolute;
    width: 65px;
    height: 60px;
    top: 197px;
    left: 365px;
    background-image: url(/assets/images/jpg/telephone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.watch   {
    position: absolute;
    width: 47px;
    height: 45px;
    top: 40px;
    left: 331px;
    background-image: url(/assets/images/jpg/watch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.move-fan-to-bucket{
    animation-name:fanAnimation;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes fanAnimation {
    from {top: 178px;
        left: 24px; }
    to {top: 570px;
        left: 816px; 
        display: none;
    }
  }

  .move-lock-to-bucket{
    animation-name:lockAnimation;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes lockAnimation {
    from {top: 272px;
        left: 743px; }
    to {top: 570px;
        left: 816px; }
  }

  .move-ash-tray-to-bucket{
    animation-name:ashTrayAnimation;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes ashTrayAnimation {
    from {top: 394;
        left: 460; }
    to {top: 570px;
        left: 816px; }
  }

  .move-purse-to-bucket{
    animation-name:purseAnimation;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes purseAnimation {
    from {top: 330;
        left: 345; }
    to {top: 570px;
        left: 816px; }
  }

  .move-gun-to-bucket{
    animation-name:gunAnimation;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes gunAnimation {
    from {top: 362;
        left: 190; }
    to {top: 570px;
        left: 816px; }
  }

  .move-hat-to-bucket{
    animation-name:hatAnimation;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes hatAnimation {
    from {top: 297;
        left: 380; }
    to {top: 570px;
        left: 816px; }
  }

  .move-belt-to-bucket{
    animation-name:beltAnimation;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes beltAnimation {
    from {top: 293;
        left: 831; }
    to {top: 570px;
        left: 816px; }
  }

  .move-bullet-to-bucket{
    animation-name:bulletAnimation;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes bulletAnimation {
    from {top: 370;
        left: 833; }
    to {top: 570px;
        left: 816px; }
  }

  .move-bag-to-bucket{
    animation-name:bagAnimation;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes bagAnimation {
    from {top: 441;
        left: 682; }
    to {top: 570px;
        left: 816px; }
  }

  .move-candle-to-bucket{
    animation-name:candleAnimation;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes candleAnimation {
    from {top: 364;
        left: 942; }
    to {top: 570px;
        left: 816px; }
  }

  .move-telescope-to-bucket{
    animation-name:telescopeAnimation;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes telescopeAnimation {
    from {top: 473;
        left: 400; }
    to {top: 570px;
        left: 816px; }
  }

  .move-telephone-to-bucket{
    animation-name:telephoneAnimation;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes telephoneAnimation {
    from {top: 197;
        left: 365; }
    to {top: 570px;
        left: 816px; }
  }

  .move-watch-to-bucket{
    animation-name:watchAnimation;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes watchAnimation {
    from {top: 40;
        left: 331; }
    to {top: 570px;
        left: 816px; }
  }

  .move-purse-to-bucket{
    animation-name:purseAnimation;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes purseAnimation {
    from {top: 330;
        left: 345; }
    to {top: 570px;
        left: 816px; }
  }

  .move-avacado-to-bucket{
    animation-name:avacadoAnimation;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes avacadoAnimation {
    from {top: 143;
        left: 238; }
    to {top: 570px;
        left: 816px; }
  }
