<div class="main-panel">
  <div class="bg-image">
    <img src="assets/images/bg.png" alt="">
  </div>
  <div class="fan" (click)="showQuoteForFan('fan')"></div>

  <div class="fan" [class.move-fan-to-bucket]="showFanQuote" *ngIf="showFanQuote">
    <div class="fanQuote"></div>
  </div>

  <div class="lock" (click)="showQuoteForLock('lock')"></div>

  <div class="lock"  [class.move-lock-to-bucket]="showLockQuote" *ngIf="showLockQuote">
    <div class="lockQuote"></div>
  </div>

  <div class="ash-tray" (click)="showQuoteForAshTray('ash-tray')"></div>

  <div class="ash-tray"  [class.move-ash-tray-to-bucket]="showAshTrayQuote" *ngIf="showAshTrayQuote">
    <div class="ashQuote"></div>
  </div>

  <div class="purse" (click)="showQuoteForPurse('purse')"></div>

  <div class="purse"  [class.move-purse-to-bucket]="showPurseQuote" *ngIf="showPurseQuote">
    <div class="purseQuote"></div>
  </div>

  <div class="hat" (click)="showQuoteForHat('hat')"></div>

  <div class="hat"  [class.move-hat-to-bucket]="showHatQuote" *ngIf="showHatQuote">
    <div class="hatQuote"></div>
  </div>

  <div class="watch" (click)="showQuoteForWatch('watch')"></div>

  <div class="watch"  [class.move-watch-to-bucket]="showWatchQuote" *ngIf="showWatchQuote">
    <div class="watchQuote"></div>
  </div>

  <div class="bag" (click)="showQuoteForBag('bag')"></div>

  <div class="bag"  [class.move-bag-to-bucket]="showBagQuote" *ngIf="showBagQuote">
    <div class="bagQuote"></div>
  </div>

  <div class="telephone" (click)="showQuoteForTelephone('telephone')"></div>

  <div class="telephone"  [class.move-telephone-to-bucket]="showTelephoneQuote" *ngIf="showTelephoneQuote">
    <div class="telephoneQuote"></div>
  </div>

  <div class="belt" (click)="showQuoteForBelt('belt')"></div>

  <div class="belt"  [class.move-belt-to-bucket]="showBeltQuote" *ngIf="showBeltQuote">
    <div class="beltQuote"></div>
  </div>

  <div class="bullet" (click)="showQuoteForBullet('bullet')"></div>

  <div class="bullet"  [class.move-bullet-to-bucket]="showBulletQuote" *ngIf="showBulletQuote">
    <div class="bulletQuote"></div>
  </div>
  
  <div class="candle" (click)="showQuoteForCandle('candle')"></div>

  <div class="candle"  [class.move-candle-to-bucket]="showCandleQuote" *ngIf="showCandleQuote">
    <div class="candleQuote"></div>
  </div>

  <div class="gun" (click)="showQuoteForGun('gun')"></div>

  <div class="gun"  [class.move-gun-to-bucket]="showGunQuote" *ngIf="showGunQuote">
    <div class="gunQuote"></div>
  </div>

  <div class="telescope" (click)="showQuoteForTelescope('telescope')"></div>

  <div class="telescope"  [class.move-telescope-to-bucket]="showTelescopeQuote" *ngIf="showTelescopeQuote">
    <div class="telescopeQuote"></div>
  </div>

  <div class="avacado" (click)="showQuoteForAvacado('avacado')"></div>

  <div class="avacado"  [class.move-avacado-to-bucket]="showAvacadoQuote" *ngIf="showAvacadoQuote">
    <div class="avacadoQuote"></div>
  </div>
</div>