.bottom-panel{
    position: absolute;
    height: 100px;
    width: 100%;
    top: 85%;
}

.left-panel{
    position: relative;
    height: 100%;
    width: 20%;
    background-color: rgb(94, 138, 38);
    float: left;
}

.text-left{
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 25px;
    line-height: 96px;
    left: 17px;
}

.middle-panel{
    position: relative;
    height: 100%;
    width: 60%;
    background-color: rgb(53, 56, 49);
    float: left;
}

.text-middle{
    position: relative;
    width: 100%;
    height: 100%;
    left: 10px;
}

.right-panel{
    position: relative;
    height: 100%;
    width: 20%;
    background-color: rgb(94, 138, 38);
    float: left;
}

.bucket-image{
    position: relative;
    width: 100px;
    height: 100px;
    top: 15px;
    left: 45px;
    background-image: url(/assets/images/png/bucket.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
}

.align-center{
    text-align: center;
}

