<div class="bottom-panel">
  <div class="left-panel">
    <div class="text-left">SCORE</div>
  </div>

  <div class="middle-panel">
    <div class="text-middle">
      <div class="row">
          <div class="col-md-4 align-center">Hat</div>
          <div class="col-md-4 align-center">fan</div>
          <div class="col-md-4 align-center">Gun</div>
      </div>
      
      <div class="row">
          <div class="col-md-4 align-center">Belt</div>
          <div class="col-md-4 align-center">Candle</div>
          <div class="col-md-4 align-center">Bag</div>
      </div>

      <div class="row">
          <div class="col-md-4 align-center">Purse</div>
          <div class="col-md-4 align-center">Watch</div>
          <div class="col-md-4 align-center">Telephone</div>
      </div>
      
      <div class="row">
          <div class="col-md-4 align-center">Telescope</div>
          <div class="col-md-4 align-center">Avacado</div>
      </div>
      
    </div>
  </div>

  <div class="right-panel">
    <div class="bucket-image"></div>
  </div>

</div>